/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: aliceblue;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.logo_container {
  flex-shrink: 0;
}

.logo_container svg {
  width: 133px;
  height: 40px;
}

.menu_container ul {
  display: flex;
  list-style: none;
  gap: 2.5rem;
  margin: 0;
}

.menu_container ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: color;
}
.menu_container ul li a:hover {
  color: #ff5344;
}

.btn_container {
  display: flex;
  gap: 1rem;
}

.btn_container button {
  padding: 0.65rem 1.5rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
}
.btn_container button:first-child {
  background: transparent;
  color: #333;
  border: 2px solid #333;
}
.btn_container button:first-child:hover {
  background: #333;
  color: white;
}
.btn_container button:last-child {
  background: #ff5344;
  color: white;
}
.btn_container button:last-child:hover {
  background: #f01602;
  transform: translateY(-2px);
}
.content{
  margin-top: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.hero-text{
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.content_span{
  color: #ff5344;
}
.content_alice{
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  padding-top: 20px;
}
.content form{
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20%;
}
input[type=text]{
  border: 1px solid rgb(288,288,288,288) !important;
  padding:20px;
  border-radius: 12px 0px 0px 12px;
}
.content form input{
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 16px;
  padding-left: 10px;
  background-color: white;
}

.btn_sec{
  display: flex;
  align-items: center;
  padding: 19px 40px;
  border: 0;
  outline: 0;
  border-radius: 0px 6px 6px 0px;
  background: #ff5344;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
.image{
  margin-top: 125px;
  height: 60vh;
}